@model IEnumerable<wr.entity.Branch>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Branch List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using wr.Utility
@using wr.entity.viewModels
@{
    // var session = Context.Session.GetComplexData<vms.entity.viewModels.vmSession>("session");
}
    <div class="product-status mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Branch List</h4>

                        @using (Html.BeginForm("Index", "Branch", FormMethod.Get, new { id = "frmProduct" }))
                        {
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="input-group Search" style="margin-top:10px">
                                        <input type="text" class="form-control" placeholder="Search..." id="search" name="search" value="@ViewBag.searchText">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn submit ">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>


                                <div class="add-product">
                                    <a href="@Url.Action("Create", "Branch")" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add</a>
                                </div>

                            </div>
                        }

                <br />

                        <table class="table table-bordered table-striped">
                            <thead >
                                <tr>
                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Code
                                    </th>
                                    <th class="text-center">
                                        Branch Address
                                    </th>
                                    <th class="text-center">
                                        Branch Mobile
                                    </th>
                                    <th>Settings</th>
                                </tr>
                            </thead>

                            @if (Model.Any())
                            {
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </td>


                                            <td>

                                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">  <a asp-action="Edit" asp-route-id="@item.BranchId"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a> </button>

                                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">    <a asp-action="Delete" asp-route-id="@item.BranchId"><i class="fa fa-trash-o" aria-hidden="true"></i>    </a></button>

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            }

                            else
                            {
                                <tr>
                                    <td colspan="10">
                                        <p style="text-align: center">No Records Found</p>
                                    </td>
                                </tr>
                            }

                        </table>
                        <div class="pager">
                            @Html.PagedListPager(
                                (IPagedList)Model,
                                page => Url.Action("Index", new { page })
                                )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>